<br/>
Click <%= link_to "here", "/pdfs/MDA_CCR_form.pdf", :target => '_blank' %> to download Maryland CCR form (PDF format).

<br/><br/>

<a class="button" target="_blank" href="<%= submit_farm_path(@farm, {:format => :pdf}) %>">Download pre-filled PDF copy</a>

<br/>

