
<table>
  <tr>
    <td>Total N:</td> <td>
<%= @new_totals[:new_total_n]%>
    </td></tr><tr><td>Total P:</td><td>
<%= @new_totals[:new_total_p]%>
  </td></tr><tr><td>Total sediment:</td><td>
<%= @new_totals[:new_total_sediment]%>
  </td></tr></table>

