<% if session[:debug] %>
    <div class='error'>
      <%= flash[:debug] %>
            </div>
    <% end %>

<br/>
  Please contact your administrator.

<br/><br/>
<%= link_to 'Home', farms_path, :target => '_top' %>
