// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progressbar5px_back {
  width: 100px;
  height: 5px;
  border: 1px solid #999;
  background: transparent;
}

.progressbar5px {
  height: 5px;
  display: block;
}



/* HOVER STYLES */
div#pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #F5F5F5;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}
div#p-pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #F5F5F5;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}

div#s-pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #F5F5F5;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}