html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    /* background: transparent url('/images/bg-body.gif') bottom left repeat-x; */
    text-align: center;
    font-size: 75%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100%;
}

@font-face {
    font-family: 'OptimaRegular';
    /*
    src: url('ufonts.com_optima-webfont.eot');
    src: url('ufonts.com_optima-webfont.eot?#iefix') format('embedded-opentype'),
    url('ufonts.com_optima-webfont.woff') format('woff'),
    url('ufonts.com_optima-webfont.ttf') format('truetype'),
    url('ufonts.com_optima-webfont.svg#OptimaRegular') format('svg');
    */
    font-weight: normal;
    font-style: normal;

}

a {
    color: #62b9dd;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    /* color: #126aa3; */
    /* Let's experiment with a mild drop shadow instead of a color change, for the color-blind, kthanxbye. */
    /* Not supported in IE so we should use color in an IE-only stylesheet. */
    color: #62b9dd;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

*:active {
    outline: 0 !important;
}

/* New CSS3 button! Please use for all refactoring. */
.button {
    font-size: .9em;
    background-color: #fff;
    color: #666;
    padding: 4px 9px;
    /*
        background: -moz-linear-gradient(top, #494949 0%, #1f1f1f);
        background: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#1f1f1f));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#1f1f1f');
    */
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 1px 0px #aaa;
    -moz-box-shadow: 0px 1px 0px #aaa;
    -webkit-box-shadow: 0px 1px 0px #aaa;
    text-decoration: none;
    font-weight: normal;
    /*
        display: inline-block;
        position: relative;
        margin-right: 10px;
        padding: 0 8px;
        text-align: center;
        text-decoration: none;
        border: none;
        height: 20px;
        cursor: pointer;
    */
}

.button:hover {
    text-decoration: none !important;
    color: #62b9dd;
}

.button:active {
    text-decoration: none !important;
    -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .8);
    -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .8);
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .8);
}

.button:disabled {
    color: #eee !important;
    background: #ccc;
    background: -moz-linear-gradient(top, #ccc 0%, #999 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ccc), color-stop(100%, #999));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#999');
    background: linear-gradient(top, #ccc 0%, #999 100%);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    cursor: default;
}

input.button {
    /*padding-bottom: 1px;*/
    padding: 4px 8px;
    margin: 5px;
}

/* Apply if you want larger button */
.large {
    font: normal 13px/27px Arial, sans-serif;
    height: 27px;
}

/* Apply color with color/state class */
.orange {
    color: #fff !important;
    background: #feab33;
    background: -moz-linear-gradient(top, #feab33, #e45c08);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feab33), color-stop(100%, #e45c08));
    background: linear-gradient(top, #feab33 0%, #e45c08 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feab33', endColorstr='#e45c08');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#feab33, endColorstr=#e45c08)";
}

.black {
    color: #fff !important;
    background: #1f1f1f;
    background: -moz-linear-gradient(top, #494949 0%, #1f1f1f);
    background: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#1f1f1f));
    background: linear-gradient(top, #494949 0%, #1f1f1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#1f1f1f');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#494949, endColorstr=#1f1f1f)";
}

/*
.button {
	font-size: .9em;
	color: #ffffff;
	padding: 4px 9px;
	background: -moz-linear-gradient(top, #494949 0%, #1f1f1f);
	background: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#1f1f1f));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#1f1f1f');
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0px 1px 0px #aaa;
	-webkit-box-shadow:	0px 1px 0px #aaa;
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
	font-weight: normal;
}
.button:hover {
	background: -moz-linear-gradient(top, #919191 0%, #4e4e4e);
	background: -webkit-gradient(linear, left top, left bottom, from(#919191), to(#4e4e4e));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919191', endColorstr='#4e4e4e');
	text-decoration: none;
	color: #fff;
}
*/
.first {
    border-radius: 4px 0 0 4px !important;
    -moz-border-radius: 4px 0 0 4px !important;
    -webkit-border-radius: 4px 0 0 4px !important;
}

.first i {
    background: transparent url('/images/pagination-first.png') top left no-repeat;
    /*    text-indent: -9999px; */
    width: 1px;
    padding: 2px 7px;
}

.last {
    border-radius: 0 4px 4px 0 !important;
    -moz-border-radius: 0 4px 4px 0 !important;
    -webkit-border-radius: 0 4px 4px 0 !important;
}

.last i {
    background: transparent url('/images/pagination-last.png') top left no-repeat;
    /*    text-indent: -9999px; */
    width: 1px;
    padding: 2px 7px;
}

.prev {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.prev i {
    background: transparent url('/images/pagination-prev.png') top left no-repeat;
    /*    text-indent: -9999px; */
    width: 1px;
    padding: 2px 7px;
}

.next {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.next i {
    background: transparent url('/images/pagination-next.png') top left no-repeat;
    /*    text-indent: -9999px; */
    width: 1px;
    padding: 2px 7px;
}

.pagination-count {
    background-color: #ECECEC;
    background-image: -moz-linear-gradient(#FFFFFF, #E1E1E1);
    cursor: default;
    display: inline-block;
    vertical-align: middle;
}

.pagination-count i {
    border-bottom: 1px solid #C2C2C2;
    border-top: 1px solid #C2C2C2;
    display: block;
    font-size: .9em;
    font-style: normal;
    height: 20px;
    line-height: 21px;
    padding: 0 10px;
}

/* alert mesages */
.alert, .error, .notice {
    background-color: #fffde4;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin-bottom: 4px;
    margin-top: 10px;
    padding: 8px 35px 8px 14px;
    text-shadow: none !important;
}

.alert-heading {
    color: inherit;
}

.alert .close {
    line-height: 18px;
    position: relative;
    right: -21px;
    top: -2px;
}

.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}

.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}

.alert-danger, .alert-error {
    background-color: #ffe9e9;
    border-color: #EED3D7;
    color: #de0000;
}

.alert-info {
    background-color: #E6F3FB;
    border-color: #BCE8F1;
    color: #0084B1;
}

.alert-block {
    padding-bottom: 14px;
    padding-top: 14px;
}

.alert-block > p, .alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}

#pageWrapper {
    /*	background: transparent url('/images/bg-header.gif') top left repeat-x; */
    background: transparent url('/images/bg-body.gif') bottom left repeat-x;
    /* height: 100%; */
    min-height: 100%;
}

#pageContainer {
    margin: 0 auto;
    width: 1044px;
    text-align: left;
}

#pageHeader {
    padding: 13px 0 17px;
}

#pageHeader h1 {
    background: transparent url('../images/logo.png') left bottom no-repeat;
    display: block;
    height: 44px;
    text-indent: -9009px;
    width: 590px;
}

#pageHeader h1 a {
    display: block;
    height: 100%;
    outline: medium none;
    width: 100%;
}

#accountnav {
    font-size: .9em;
    text-align: right;
    color: #999;
    margin: 25px 0 0;
}

#accountnav li {
    display: inline;
}

#accountnav li a {
    padding: 0 8px;
    color: #62b9dd;
    font-weight: normal;
    text-decoration: none;
    border-right: 1px solid #999;
}

#accountnav li a:hover {
    text-decoration: underline;
}

#accountnav li a.last {
    border-right: none;
}

/* MAIN NAVIGATION */
.primaryNav {
    margin: 0;
    width: 1044px;
    height: 31px;
    position: relative;
    z-index: 100;
    background: #37a0bf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37a0bf', endColorstr='#126aa3');
    background: -webkit-gradient(linear, left top, left bottom, from(#37a0bf), to(#126aa3));
    background: -moz-linear-gradient(top, #37a0bf, #126aa3);
    border-bottom: 2px solid #ccc;
}

/* hack to correct IE5.5 faulty box model */
* html .primaryNav {
    width: 1044px;
    w\idth: 1043px;
}

/* remove all the bullets, borders and padding from the default list styling */
.primaryNav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.primaryNav ul ul {
    width: 149px;
}

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.primaryNav li {
    float: left;
    position: relative;
}

/* style the links for the top level */
.primaryNav a, .primaryNav a:visited {
    display: block;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    height: 33px;
    padding: 0 15px;
    line-height: 33px;
    font-weight: bold;
}

.primaryNav a.first {
    padding-left: 15px;
}

.primaryNav a.first:hover {
    color: #477079;
}

/* a hack so that IE5.5 faulty box model is corrected */
* html .primaryNav a, * html .primaryNav a:visited {
}

/* hide the sub levels and give them a positon absolute so that they take up no room */
.primaryNav ul ul {
    visibility: hidden;
    position: absolute;
    height: 0;
    top: 33px;
    left: 0;
    width: 149px;
}

/* another hack for IE5.5 */
* html .primaryNav ul ul {
    top: 30px;
    t\op: 31px;
}

/* style the table so that it takes no ppart in the layout - required for IE to work */
.primaryNav table {
    position: absolute;
    top: 0;
    left: 0;
    border-collapse: collapse;
}

/* style the second level links */
.primaryNav ul ul a, .primaryNav ul ul a:visited {
    background: #e0e0e0;
    background-image: none;
    color: #126aa3;
    font-weight: normal;
    height: auto;
    line-height: 1em;
    padding: 8px 15px;
    width: 128px;
    border-bottom: 1px solid #e8e8e8;
}

/* yet another hack for IE5.5 */
* html .primaryNav ul ul a, * html .primaryNav ul ul a:visited {
    width: 150px;
    w\idth: 128px;
}

/* style the top level hover */
.primaryNav a:hover, .selected {
    color: #126aa3 !important;
    -webkit-transition: background-color 0.2s linear;
    background: -moz-linear-gradient(top center, #fff, #e0e0e0 80%) repeat scroll 0 0 #e0e0e0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.2, #e0e0e0), color-stop(.8, #fff));
    -moz-box-shadow: -1px -1px 2px #999;
    -webkit-box-shadow: -1px -1px 2px #999;
    box-shadow: -1px -1px 2px #999;
}

.primaryNav :hover > a, .selected {
    color: #126aa3 !important;
    -webkit-transition: background-color 0.2s linear;
    background: -moz-linear-gradient(top center, #fff, #e0e0e0 80%) repeat scroll 0 0 #e0e0e0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.2, #e0e0e0), color-stop(.8, #fff));
    -moz-box-shadow: -1px -1px 2px #999;
    -webkit-box-shadow: -1px -1px 2px #999;
    box-shadow: -1px -1px 2px #999;
}

.primaryNav ul ul a:hover {
    color: #fff;
    background: #e0e0e0;
    box-shadow: none;
}

.primaryNav ul ul :hover > a {
    color: #fff;
    background: #f0f0f0;
    box-shadow: none;
}

/* make the second level visible when hover on first level list OR link */
.primaryNav ul li:hover ul,
.primaryNav ul a:hover ul {
    visibility: visible;
}

#pageContent {
    background: #fff;
    box-shadow: 0 2px 8px #999999;
    padding: 15px 25px 15px;
}

#breadcrumbs {
    margin-bottom: 18px;
    color: #62b9dd;
}

#breadcrumbs a {
    color: #666;
    font-size: .9em;
    font-weight: normal;
    text-decoration: none;
}

#breadcrumbs a:hover {
    color: #999;
    text-decoration: none;
}

#breadcrumbs a.active {
    color: #62b9dd;
}

#breadcrumbs a.active:hover {
    color: #126aa3;
    text-decoration: none;
}

h1.pageTitle {
    font-family: 'OptimaRegular';
    text-transform: uppercase;
    color: #62b9dd;
    font-size: 2.6em;
    font-weight: normal;
    margin: 3px 0 0;
}

h2.sectionHeading {
    font-family: 'OptimaRegular';
    text-transform: uppercase;
    color: #126AA3;
    font-size: 1.6em;
    font-weight: normal;
    margin: 20px 0 0;
}

h2.sectionHeading em {
    color: #62b9dd;
    font-style: normal;
}

h3 {
    color: #666;
    margin-bottom: 10px;
}

h3.sectionHeading {
    color: #126AA3;
    font-weight: normal;
}

#stepNav {
    margin-bottom: 15px;
    width: 100%;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    height: 39px;
}

#stepNav li {
    height: 39px;
    list-style: none;
    float: left;
    background-color: #fff;
    background-image: url(/images/navBtn.gif);
    background-repeat: no-repeat;
    background-position: right top;
}

#stepNav li.current {
    background-color: #e3e3e3;
    background-image: url(/images/navCurrentBtn.gif);
}

#stepNav li.lastDone {
    background-color: #f3f3f3;
    background-image: url(/images/navLastDoneBtn.gif);
}

#stepNav li.done {
    background-color: #f3f3f3;
    background-image: url(/images/navDoneBtn.gif);
}

#stepNav li a, #stepNav li a:link, #stepNav li a:visited, #stepNav li a:hover, #stepNav li a:active {
    color: #666;
}

#stepNav li.lastDone a, #stepNav li.lastDone a:link, #stepNav li.lastDone a:visited, #stepNav li.lastDone a:hover, #stepNav li.lastDone a:active, #stepNav li.current a, #stepNav li.current a:link, #stepNav li.current a:visited, #stepNav li.current a:hover, #stepNav li.current a:active, #stepNav li.done a, #stepNav li.done a:link, #stepNav li.done a:visited, #stepNav li.done a:hover, #stepNav li.done a:active {
    color: #666;
}

#stepNav li.done a:hover, #stepNav li.lastDone a:hover {
    color: #62b9dd;
    cursor: pointer;
}

#stepNav li a em {
    display: block;
    float: left;
    margin: 4px 5px 0 10px;
    font-family: 'OptimaRegular';
    color: #126AA3;
    font-size: 2.6em;
    font-weight: normal;
    font-style: normal;
}

#stepNav li a span {
    display: block;
    margin-left: 10px;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 2.7em;
    white-space: nowrap;
    padding-right: 15px;
}

#stepNav li.stepNavNoBg {
    background-image: none;
}

#stepNav li a {
    height: 39px;
    display: block;
    clear: both;
    padding-right: 35px;
}

ul#tabNav {
    height: 24px;
    padding: 8px 1px 0 10px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    margin-bottom: 1px;
}

ul#tabNav li {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    margin: 0 10px 0 0;
    border: solid 1px #ccc;
    position: relative;
    z-index: 1;
}

ul#tabNav li.selected {
    z-index: 3;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

ul#tabNav li.shadow {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 0;
    border-bottom: 1px solid #ccc;
    background: none;
    z-index: 2;
    -webkit-box-shadow: #ccc 0 0 2px;
    -moz-box-shadow: #ccc 0 0 2px;
    box-shadow: #ccc 0 0 2px;
}

ul#tabNav li a:link, ul#tabNav li a:visited {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    text-align: center;
    line-height: 26px;
    text-decoration: none;
    font-size: .9em;
    font-weight: normal;
    color: #333;
    outline: none;
    padding: 0 10px;
    float: left;
    background: #ccc;
    -webkit-transition: background-color 0.2s linear;
    background: -moz-linear-gradient(top center, #fefefe, #dedede 80%) repeat scroll 0 0 #dedede;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.2, #dedede), color-stop(.8, #fefefe));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dedede');
}

ul#tabNav li a:hover {
    background-color: #ffffff;
    -webkit-transition: background-color 0.2s linear;
    background: -moz-linear-gradient(top center, #ffffff, #fcfcfc 80%) repeat scroll 0 0 #fcfcfc;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.2, #fcfcfc), color-stop(.8, #ffffff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcfcfc');
}

ul#tabNav li.selected a:link, ul#tabNav li.selected a:visited {
    background-color: #ffffff;
    -webkit-transition: background-color 0.2s linear;
    background: -moz-linear-gradient(top center, #ffffff, #fcfcfc 80%) repeat scroll 0 0 #fcfcfc;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.2, #fcfcfc), color-stop(.8, #ffffff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0');
}

ul#tabNav.worksheet li a:link, ul#tabNav li a:visited {
    background: #ccc;
    -webkit-transition: background-color 0.2s linear;
    background: -moz-linear-gradient(top center, #fefefe, #dedede 80%) repeat scroll 0 0 #dedede;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.2, #dedede), color-stop(.8, #fefefe));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dedede');
}

ul#tabNav.worksheet li a:hover {
    background-color: #ffffff;
    -webkit-transition: background-color 0.2s linear;
    background: -moz-linear-gradient(top center, #ffffff, #f0f0f0 80%) repeat scroll 0 0 #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.2, #f0f0f0), color-stop(.8, #ffffff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0');
}

ul#tabNav.worksheet li.selected a:link, ul#tabNav li.selected a:visited {
    background-color: #ffffff;
    -webkit-transition: background-color 0.2s linear;
    background: -moz-linear-gradient(top center, #ffffff, #f0f0f0 80%) repeat scroll 0 0 #f0f0f0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.2, #f0f0f0), color-stop(.8, #ffffff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0');
}

ul#tabNav li a em {
    color: #01A2A6;
    font-style: normal;
}

/*.listingTable {
    width: 600px;
}*/

.listingTable th {
    background: #999;
    color: #fff;
    text-align: left;
    font-size: .9em;
    line-height: 30px;
    margin: 0;
    padding: 0 0 0 5px;
}

.listingTable th.actions {
    background: #666;
    text-align: center;
}

.listingTable th a {
    color: #fff;
    text-decoration: none;
    /*	padding: 5px; */
    padding-right: 25px;
}

.listingTable th .current {
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right center;
}

.listingTable th .asc {
    background-image: url('/images/sortasc.png');
}

.listingTable th .desc {
    background-image: url('/images/sortdesc.png');
}

.listingTable td {
    vertical-align: top;
    padding: 6px;
    border-bottom: 1px solid #ccc;
    background-color: #f0f0f0
}

.listingTable tr.retired td {
    color: #999;
    font-style: italic;
}

.listingTable td div td {
    border: none;
}

.listingTable a:hover {
    text-decoration: underline;
}

.listingTable .alt {
    background: #f0f0f0;
}

td {
    padding: 3px;
}

input, select, option {
    font-size: 100%;
}

input, fieldset select, option, textarea {
    color: #666;
    background-color: #fff;
}

option:disabled {
    color: darkgrey;
}

input.text {
    height: 25px;
    border: 1px solid #ccc;
    margin-right: 10px;
    color: #666;
}

.readonlyInput {
    background-color: #f0f0f0;
    border: 0px;
}

select.text {
    padding: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
    color: #666;
}

textarea.text {
    border: 1px solid #ccc;
    margin-right: 10px;
    color: #666;
}

#divinputfile {
    background: url('/images/button-browse.png') no-repeat 100% 1px;
    height: 28px;
    width: 269px;
    margin: 0;
}

#divinputfile #filepc {
    opacity: 0.0;
    -moz-opacity: 0.0;
    filter: alpha(opacity=00);
    font-size: 18px;
}

#fakeinputfile {
    margin-top: -28px;
}

#fakeinputfile #fakefilepc {
    width: 200px;
    height: 18px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
    float: right;
    width: 250px;
    margin-left: 20px;
}

.sidebarHeader {
    background: #126aa3;
    padding-left: 10px;
}

.sidebarHeader h2 {
    font-family: 'OptimaRegular';
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6em;
    font-weight: normal;
    line-height: 31px;
    margin: 0;
}

.sidebarHeader .modelLink {
    float: right;
    color: #fff;
    line-height: 31px;
    margin: 0;
    padding-right: 5px;
}

.sidebarHeader .modelLink a {
    color: #fff;
}

.sidebarContent {
    background: #f0f0f0;
    padding: 10px;
    color: #666;
}

.sidebarContent em {
    color: #126aa3;
    font-style: normal;
}

#pageFooter {
    font-size: .9em;
    color: #999;
    margin-top: 15px;
}

form li {
    list-style: none;
}

.nn-form h2 {
    margin: 10px 0px 0px 0px;
}

.nn-form fieldset {
    margin: 0 20px 0 0;
    padding: 0;
    border: none;
    color: #666;
    float: left;
    width: 600px;
}

.nn-form ol {
    margin: 0;
    padding: 0;
}

.nn-form ol li {
    list-style: none;
    margin-bottom: 5px;
    min-height: 25px;
}

.nn-form label em, .nn-form div em {
    color: #ff0000;
}

.fieldnote {
    color: #999;
    font-size: .9em;
    font-style: italic;
}

input.fieldError, select.fieldError, textarea.fieldError {
    border: 1px solid #de0000;
}

div.fieldError {
    margin-left: 160px;
    width: 250px;
    color: #de0000;
    font-size: .9em;
}

.formBlock {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.formBlock .close {
    line-height: 18px;
    position: relative;
    right: 0;
    top: -4px;
}

.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}

.close:hover {
    color: #000000;
    cursor: pointer;
    opacity: 0.4;
    text-decoration: none;
}

table.nutrientLoad tr td {
    padding: 10px;
    background-color: #c6eeff;
    color: #4071AB;
}

table.nutrientLoad tr td:first-child {
    text-align: right;
    background-color: #e3e3e3;
    color: #333;
    width: 150px;
    vertical-align: middle;
}

.reviewBlock {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.reviewBlock table tr td {
    padding: 4px;
    color: #666;
}

.reviewBlock table tr td:first-child {
    width: 160px;
    text-align: right;
    font-weight: bold;
    padding-right: 12px;
}

.reviewBlock h3 {
    font-family: 'OptimaRegular';
    text-transform: uppercase;
    color: #62b9dd;
    margin: 10px 0 0;
    font-size: 1.2em;
    line-height: 0.8em;
    font-weight: normal;
    border-bottom: 1px solid #62b9dd;
}

/* Properly style non-anchor elements in breadcrumbs. */
/* like #breadcrumbs a */
#breadcrumbs span {
    color: #000;
    font-size: .9em;
    font-weight: normal;
    text-decoration: none;
}

/* like #breadcrumbs a.active */
#breadcrumbs span.active {
    color: #62b9dd;
}

code {
    font-family: 'OptimaRegular';
    /* Rules kept from submit button. */
    font-size: .9em;
    box-shadow: 0px 1px 0px #aaa;
    -moz-box-shadow: 0px 1px 0px #aaa;
    -webkit-box-shadow: 0px 1px 0px #aaa;
    text-decoration: none;
    font-weight: normal;
    text-decoration: none !important;

    /* My overrides. */
    padding: 2px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f0f0f0;
    -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, .8);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, .8);
}

label {
}

/* Maybe margin-right was 10 for a reason, but it messes up chrome. */
/* If we must keep, reduce the text field max width from 260 to 250. */
.text {
    margin-right: 5px !important;
}

.button {
    cursor: pointer;
}

.nn-pagination .blank i {
    background-image: none;
}

/* Use this for most labels except checkbox labels. */
.nn-form label.label {
    display: block;
    float: left;
    font-weight: bold;
}

.nn-form label.wide {
    display: block;
    float: left;
    width: 160px;
    font-weight: bold;
}

.nn-form label.extrawide {
    display: block;
    float: left;
    width: 300px;
    font-weight: bold;
}

.nn-form span.span {
    display: block;
    float: left;
    font-weight: bold;
}

.nn-form span.wide {
    display: block;
    float: left;
    width: 160px;
    font-weight: bold;
}

.nn-form span.extrawide {
    display: block;
    float: left;
    width: 300px;
    font-weight: bold;
}

.nn-form span.extrawide_not_bold {
    display: block;
    float: left;
    width: 300px;
}

.nn-form label.checkbox {
}

.text {
    width: 260px;
}

select {
    width: 160px;
    max-width: 250px;
    height: 21px;
}

p {
    padding-bottom: 1.0em;
}

/* ATM, this is mainly aimed at intelligently sizing lightboxes. */
/* Meant for longer text. */
p.readable {
    max-width: 35em;
}

/* Element in place of content for XHR/Ajax requests. */
#ajax {
    text-align: left;
}

.sidebarContent span.label {
    white-space: nowrap;
}

.sidebarContent {
    overflow: hidden;
}

.sidebarContent:hover {
    overflow: auto;
}

div#fancybox-overlay {
    background-color: #fff !important;
}

div.fancybox-outer {
    border: 3px solid #126aa3 !important;
}

.inputsCell {
    float: right;
    width: 275px;
}

/* For all input[type=file], we apply class file */
input.file {
    max-width: 260px;
}

select.year {
    width: 60px;
}

/* Not working 2 */
/* Not working 2 */
#recaptcha_area {
    width: 50%;
    /* margin: 0 auto !important;   -- modified to align left  */
}

/* Holds a section of a form or data display. */
.sectionFirst {
    background: #f0f0f0;
    padding: 20px;
}

.sectionRest {
    background: #f0f0f0;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /* margin-top: 5px;  */
}

.popoverInfo {
    border-bottom: 1px dashed #ba0000;
}

a.popoverInfo {
    text-decoration: none;
}

.popover-content {
    text-align: left;
    white-space: pre-line;
}

/*
 * For numbers placed in a vertical column. The must line up at the singles
 * digit. whether there are decimals or not.
 */
.numeric-vertical {
    /* font-family: 'Andale Mono','Courier New',courier; */
    /* float: right; */
    text-align: right;
    min-width: 45px;
    width: 45px;
}

#progress {
    /*padding: 5px;*/
    background-color: white;
}

.bar {
    height: 18px;
    background: green;
}

/*
 * To fix the tooltip bug on browser window resize Issue: Due to resizing, the
 * tooltip dimensions change, but are not taken into account while calculating
 * the positioning of the tooltip.
 */
.tooltip {
    white-space: nowrap;
}

a.sort {
    float: right;
    margin: 7px 1px;
}

a.sort img {
    height: 9px;
    width: 21px;
    margin-top: 3px;
}

a.sort.asc img,
a.sort.desc img {
    height: 4px;
    margin-top: 6px;
}

.nn-form .mainTable {
    margin: 0 20px 0 0;
    padding: 0;
    border: none;
    color: #666;
    float: left;
    width: 400px;
}

.nn-form table td {
    vertical-align: top;
}

ul#tabNav li.disabledTab a:link, ul#tabNav li.disabledTab a:visited, ul#tabNav li.disabledTab a:hover {
    color: darkgrey;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(.2, #dedede), color-stop(.8, #fefefe));
    cursor: default;
    font-style: italic;
}

.icon-delete {
    background-image: url('/images/delete.png');
    display: block;
    float: right;
    height: 16px;
    width: 16px;
}

.field_with_errors {
    display: inline-block;
}

.field_with_errors input, .field_with_errors select {
    background-color: #EED3D7;
}

div.wide {
    display: block;
    float: left;
    width: 160px;
    font-weight: bold;
}

div.extrawide {
    display: block;
    float: left;
    width: 250px;
    font-weight: bold;
}

.textboxMedium {
    width: 80px;
}

.textboxSmall {
    width: 60px;
}
