// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progressbar5px_back {
  width: 100px;
  height: 5px;
  border: 1px solid #999;
  background: transparent;
}

.progressbar5px {
  height: 5px;
  display: block;
}